h1 {
    text-align: center;
    font-style: italic;
    font-size: 80px;
}
footer {
  text-align: center;
  font-weight: 700;
}
nav {
  margin-bottom: 40px;
}
nav a{
  text-decoration: none;
  padding: 10px;
  font-size: 40px;
}
li  {
  display: inline; 
}
a:link {
  color: #ffffff;
}
a:visited {
  color: orangered;
}
a:hover {
  color: #00ffff;
}

div {
  font-size: x-large;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}
body {
  color: lightcoral;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  background-image: url(images/background1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: absolute;
  
}
#wrapper {
    min-width: 1280px;
    max-width: 1520px;
    margin: auto;
}
.flexbox-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.flexbox-item {
  width: 300px;
  height: 300px;
}
.flexbox-item1 {
  width: 350px;
  height: 400px;
}

img{
  border-radius: 10px;
}
.action {
  font-size: 50px;
  margin-bottom: 500px;
}

button {
  font-size: large;
  font-weight: bold;
  border-radius: 15px;
  background-color: pink;
  font-style: italic;
  width: 200px;
  height: 50px;
  
}
#wrapper2 {
  font-weight: bold;
  font-style: italic;
  color: #00ffff;
  min-width: 600px;
  max-width: 900px;
  margin: auto;
}
@media only screen and (max-width: 1024px) {
  h1 {
    font-size: 2em;
    padding-top: 0.25em;
    padding-left: 1.5em;
    width: 85%;
    text-align: center;
  }
  li {
    font-size: larger;
  }
  nav {
    text-align: center;
  }
  nav a {
    display: block;
    font-size: 30px;
  }
  #wrapper {
    min-width: 700px;
    text-align: center;
   }
   body {
    color: black;
    font-size: 2em;
    background-image: none;
    background-color: goldenrod;
  }

  .flexbox-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .flexbox-item {
    margin-bottom: 4em;
    margin-left: 1em;
    flex-wrap: wrap;
  }
  .flexbox-item1 {
    margin-bottom: 4em;
    margin-left: 1em;
    height: 350px;
    flex-wrap: wrap;
  }
  .action{
    font-size: 1em;
    margin: 10px;
  }
  footer {
    text-align: center;
    margin-left: 30px;
    font-size: large;
  }
}
@media only screen and (max-width: 600px)
{

  h1 {
    font-size: 2em;
    padding-top: 0.25em;
    padding-left: 1.5em;
    width: 85%;
    text-align: center;
  }
  nav {
    text-align: center;
  }
  nav a {
    display: block;
  }
  #wrapper {
   min-width: 200px;
    text-align: center;

  }
  body {
    color: black;
    font-size: 1em;
    background-image: none;
    background-color: goldenrod;
  }
  .flexbox-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .flexbox-item {
    margin-bottom: 4em;
    margin-left: 2em;

  }
  .flexbox-item1 {
    margin-bottom: 2em;
    margin-left: 3em;
    height: 350px;
    

  }
  #mobile {
   text-align: center;
   display: none;
  }
  .action{
    font-size: 2em;
    font-family: 'Times New Roman', Times, serif;
    margin: 40px;
  }
  footer {
    text-align: center;
    margin-left: 30px;
    font-size: 300;
  }
  #wrapper2 {
    min-width: 50px;
    max-width: 150px;
  }
}
